<table class="table">
    <thead>
      <tr>
        <th scope="col">Book ID</th>
        <th scope="col">Book Name</th>
        <th scope="col">Book Author</th>
        <th scope="col">Book Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookarr">
        <td>{{ book.bookId }}</td>
        <td>{{ book.bookName }}</td>
        <td>{{ book.bookAuthor }}</td>
        <td>{{ book.bookPrice }}</td>
        <td><input type="button" value="Edit Book" (click)="editBook(book.bookId)" class="btn btn-primary"></td>
        <td><input type="button" value="Delete Book" (click)="deleteBook(book.bookId)" class="btn btn-danger"></td>
      </tr>
    </tbody>
  </table>
